
/*of breadcrumb and content-list*/

@media only screen and (max-width: 900px)  and (min-width:320px){
.breadcrumb{
    width:80% ;
    margin: 20px auto 50px;
}
.breadcrumb-item {
    margin: auto;
}
.breadcrumb li{
    margin: 5px ;
}

.content-list{
    margin-top: 20px;
}
}

/*of related thumb*/
@media only screen and (max-width: 900px)  and (min-width:320px){
    .carousel-inner .col-md-4{
        margin-bottom: 20px;
            background-color: red;
    }
    .related-thumb img{
        width: 100%;
        height: 300px;
    }
    .related-thumb {
        position: relative;
    }
    .related-thumb .thumb-content{
    background-color: rgb(0, 0, 0,.7);
    position:absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: var(--main-Gcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    }
    .thumb-content h2{
color: white;
font-size: 20px;
    }
  
   .related-thumb .thumb-content:hover{
        opacity: .9;
        transition: opacity 500ms;
   }

   .related-thumb .thumb-img .thumb-content h2{
            color: white;
            font-size: 25px;
   }
   .related-thumb .thumb-content .date{
            font-size: 15px;
            text-shadow: black 1px 1px;
            color: white;            
    }
   .carousel-indicators{
            top: 100%;
    }
    
}
/* categories */
@media only screen and (max-width: 900px)  and (min-width:500px){
  

.categories h2{
    text-align: center;
}
.categories .row{
    margin: 0px !important;
}
.categories .tab-img img{
margin-bottom: 15px;
width: 100%;
}
.categories .col-md-7 .tab-content{
    padding: 0px !important;
}



}
@media only screen and (max-height : 1280px) and (min-height: 1024px) {
    .categories .row  {
        margin: 0px !important;
    } 
   
    .categories .col-md-5{
        width: 70%;
        margin: auto;
    }
   .categories .col-md-7{
       margin: auto;
       width: 70%;
   }
    .categories .by{
        margin-top: 15px !important;
    }
    .categories .tab-content{
        text-align: center;
    }
   
}